# Dependencies
/node_modules

# React Router
/.react-router/
/build/
.source

# Generated API docs
app/lib/api-docs.json

# Misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example
